/*
 * Estilos de tu proyecto
 */

/*NAVEGADOR*/
*{
  box-sizing: border-box;
  margin: 0;
}

.text-uppercase{
  text-transform: uppercase;
}

nav{
  /*outline: 1px solid blue;*/
  background: #2c3e50;
  top:0;
  right: 0; /*para que este pegado a los extremos*/
  left: 0;
  font-family: 'Montserrat';
  height: 110px;
  position: fixed;
  padding-top: 35px;
  z-index: 1000;
  color:#fff;
}

a{
  text-decoration: none;
  color:#fff;
}

.main-title a{
  font-size: 32px;
  font-weight: 900;
  position:relative;
  left: 10%;
  transform: translateY(-50%);
}

.menu, .menu li, .menu ul{
  display: inline-block;
}

.menu ul{
  list-style: none;
  position:absolute;
  right:15%;
  top:50%;
  transform: translateY(-50%);
}

.menu li{
  margin: 10px;
  font-weight: 900;
}

/*HEADER*/
header{
  margin-top: 110px;
  width: 100%;
  height: 700px;
  text-align: center;
  background-color: #18bc9c;
}

.head{
   width: 60%;
   position: relative;
   left:50%;
   transform: translateX(-50%);
   top:90px;
}

.head-title{
  font-size: 76px;
  color:#fff;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 25px;
}

.head p{
  font-family: 'Lato';
  font-size: 28px;
  color:#fff;
  margin-top: 10px;
}

.fa{
  color:#fff;
  font-size: 30px;
  display:block;
  position: relative;
  top:25%;
}
.rule{
  outline: 1px solid blue;
  height: 70px;
  position: relative;

}
span::before{
  content:" ";
  background-color:#fff;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  right: 75px;
  top:20px;
}
span::after{
  content:" ";
  background-color: #fff;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  left:75px;
  bottom: 30px;
}

main{
  margin-top: 110px;
  top:0;
  right: 0; /*para que este pegado a los extremos*/
  left: 0;
  text-align: center;
  background-color: #fff;
}

/*MAIN*/
 /*section portfolio*/
.portfolio h2{
  font-family:'Montserrat';
  font-size: 48px;
  color:#212529;

}

.black{
  color:#2c3e50;
}

.portfolio span::before{
  content:" ";
  background-color:#2c3e50;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  right: 75px;
  top:20px;
}

.portfolio span::after{
  content:" ";
  background-color: #2c3e50;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  left:75px;
  bottom: 30px;
}

.portfolio figure img{
  width: 350px;
  height: 250px;
  margin: 15px;
}

.portfolio figure{
  margin-bottom: 80px;
}
/*section about*/
.about{
  background-color: #18bc9c;
  overflow: auto;
}

.about h2{
  font-family:'Montserrat';
  font-size: 48px;
  color:#fff;
  margin-top: 100px;
}

.about p{
  font-family: 'Lato';
  font-size: 20px;
  color:#fff;
  width: 350px;
  margin-left: 20px;
  text-align: left;
  line-height:30px;
  float: left;
}
.text-about{
  overflow: auto;
  width: 780px;
  position: relative;
  left: 22%;
}

.about button{
   width: 200px;
   font-family: 'Lato';
   font-size: 18px;
   border-radius: 5px;
   padding: 10px 8px;
   margin-top: 30px;
   margin-bottom: 100px;
   background: none;
   border: 2px solid #fff;
   color:#fff;
}

.fa-download{
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
}

.contact-me h2{
  font-family:'Montserrat';
  font-size: 48px;
  color:#212529;
  margin-top: 100px;
}

.contact-me span::before{
  content:" ";
  background-color:#2c3e50;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  right: 75px;
  top:20px;
}

.contact-me span::after{
  content:" ";
  background-color: #2c3e50;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  left:75px;
  bottom: 30px;
}

form{
  /*outline: 1px solid red;*/
  width: 55%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

input,textarea{
  display: block;
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Lato';
  margin-bottom: 30px;
  height: 100px;
  border: none;
  border-bottom:1px solid #eaeaea;
  outline: none;
  color:#868e96;
}

textarea{
  height: 260px;
}

input[type="submit"]{
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  border-radius: 5px;
  background-color: #18bc9c;
  color: #fff;
}

input[placeholder="Phone Number"]{
  margin-bottom: 50px;
}
