/*
 * Estilos de tu proyecto
 */

/*NAVEGADOR*/
*{
  box-sizing: border-box;
  margin: 0;
}

.text-uppercase{
  text-transform: uppercase;
}

.inline-block{
  display: inline-block;
}
nav{
  /*outline: 1px solid blue;*/
  background: #2c3e50;
  top:0;
  right: 0; /*para que este pegado a los extremos*/
  left: 0;
  font-family: 'Montserrat';
  height: 110px;
  position: fixed;
  padding-top: 30px;
  z-index: 1000;
  color:#fff;
}

a{
  text-decoration: none;
  color:#fff;
}

.main-title a{
  font-size: 32px;
  font-weight: 900;
  position:relative;
  left: 10%;
}

.menu, .menu li, .menu ul{
  display: inline-block;
}

.menu ul{
  list-style: none;
  position:absolute;
  right:15%;
  top:50%;
  transform: translateY(-50%);
}

.menu li{
  margin: 10px;
  font-weight: 900;
}
